/* Icon theme */

.swap {
  color: #4d5259;
  display: block;
  font-size: 20px;
  margin: 30px auto;
  margin-bottom: -30px;
  border: 0;
  background: transparent;
  transition: transform 300ms ease-out;
}
.swap:hover {
  transform: scale(1.3);
}

/* Dark theme change */

.dark {
  color: #dedede;
}

/* Swap icon theme */

.dark .swap {
  color: #dedede;
  background: transparent;
  transition: transform 300ms ease-out;
}
.dark .swap:hover {
  transform: scale(1.3);
}

/* App Container */

.dark {
  background: #262231;
}

.dark .Weather {
  background: #352f44;
  border-color: #dedede;
}

/*Location icon*/
.dark .fa-location-dot {
  color: #dedede;
}

/* Today's weather */
.dark .WeatherInfo {
  color: #dedede;
}
/* Week Forecast Row */

.dark .WeatherForecast {
  color: #dedede;
}

/* Temp change link */

.dark .linkNone {
  color: #dedede;
  font-weight: 100;
}

/* Footer */

.dark .footer a {
  color: #dedede;
}

.dark .footer a:hover {
  color: #ffffff;
}
