.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.8;
  margin-left: 5px;
}

.WeatherForecast-temperature-max {
  font-weight: 600;
  font-size: 18px;
}

.WeatherForecast .WeatherForecast-day {
  font-size: 18px;
}

@media (max-width: 768px) {
  .fixed-row {
    flex-basis: calc(33.3333% - 20px);
  }
}
